# Configuración del Broker Solace PubSub+
SOLACE_HOST=wss://<tu-servicio-solace>.messaging.solace.cloud:443
SOLACE_VPN_NAME=<nombre-de-tu-vpn>
SOLACE_USERNAME=<tu-usuario>
SOLACE_PASSWORD=<tu-contraseña>
